@font-face {
    font-family: 'DXIcons';
    src: local("DevExtreme Generic Icons"), local("devextreme_generic_icons"),
    url("../../../node_modules/devextreme/dist/css/icons/dxicons.woff2") format('woff2'),
    url("../../../node_modules/devextreme/dist/css/icons/dxicons.woff") format('woff'),
    url("../../../node_modules/devextreme/dist/css/icons/dxicons.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
